nav {
    display: flex;
    width: 100%;
    top: 0px;
    height: 80px;
    border-style: solid;
    border-width: 0;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    padding-bottom: 0px;
    border-bottom: 1px solid #C8C8C8;
}

nav h1 {
    display: inline-block;
    font-size: 50px;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover, nav a:focus {
    color: #FFB2A7;
}