.blue {
  color: #56B9D0;
}

.white {
  color: #FEFEFE;
}

.yellow {
  color: #FBBA42;
}

.red {
  color: #F24C27;
}

.black {
  color: #3B3F42;
}

.blue-b {
  background-color: #56B9D0;
}

.white-b {
  background-color: #FEFEFE;
}

.yellow-b {
  background-color: #FBBA42;
}

.red-b {
  background-color: #F24C27;
}

.black-b {
  background-color: #3B3F42;
}

.op50 {
  opacity: 50%;
}