.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-style: normal;
    min-width: 160px;
    font-family: inherit;
    padding: 0px 0px 10px 10px;
    line-height: 0px;
    z-index: 999;
    background-color: #F1F1F1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #F1F1F1;
    border-top: 22px solid #FEFEFE;
}