footer {
    bottom: 0;
    min-height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 20px 0 30px 0;
}

footer h1 {
  color: #FBBA42;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  margin-right: 5px;
}

footer a:hover, footer a:focus {
  color: #FFB2A7;
}